@font-face {
    font-family: "TG Light";
    src: url("../../public/fonts/AmnestyTradeGothic-Light.ttf");
}

$def-font-stack : 'TG Light', sans-serif;
$default-back   : #525254;
$bar-default	: #FFFF00;
$bar-hovered	: #FFFF00;
